@import 'variables';

html, body, #index, .container {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  padding-bottom: 20px;
}

h1, h2, h3, h4 {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

h2 {
  font-weight: 300;
  margin: 0 0 10px 0;
  font-size: 40px;
}

h4 {
  font-size: $lead-font-size;
  margin: 0;
}

.subsection {
  font-size: $small-font-size;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.subheading {
  font-size: $lead-font-size;
  margin: 0;
}

.loading {
  padding: 20px;
  text-align: center;
}

.return-to-top {
  margin-top: 3em;
}

button.button-secondary-outline {
  box-shadow: $button-stroke $color-secondary;
  color: $color-secondary;
  &:hover {
    box-shadow: $button-stroke $color-secondary-dark;
    color: $color-secondary-dark;
  }
  &:active {
    box-shadow: $button-stroke $color-secondary-darkest;
    color: $color-primary-darkest;
  }
  &:focus {
    box-shadow: $button-stroke $color-secondary-darkest, $focus-shadow;
  }
}