@import 'variables';

.c3 svg {
  fill: $color-gray;
  font-family: $font-sans;
  font-size: $h5-font-size;
}

.c3 path {
  stroke: $color-gray-light;
}

.c3-bar._expanded_ {
  fill-opacity: 1;
}

.c3-xgrid,
.c3-ygrid {
  stroke-dasharray: 0;
}

.c3-grid line {
  stroke: $color-gray-warm-light;
}