@import 'utilities';
@import 'variables';

.cart-item {
  padding: 1.5em 0;
  .item-image {
    display: none;
  }
}

.cart-checkout-form {
  border-top: 1px solid $color-gray-lighter;
  padding-top: 5rem;
  text-align: right;

  button {
    margin-right: 0;
  }
}

@include media($medium-screen) {
  .cart-item {
    .item-image {
      display: block;
    }
  }
}