.header-cart-button {
  background: url(/images/cart-alt.svg) left center no-repeat;
  background-size: 1.8rem;
  padding-left: 1.8rem;
}
.header-cart-button a {
  min-width: 40px;
  display: block;
}
.header-cart-button:hover {
  background-image: url(/images/cart-alt-hover.svg);
}
.header-cart-button span {
  display: none;
}
.header-cart-button span.count {
  display: inline;
}

@media screen and (max-width: 950px) {
  .header-cart-button {
    padding: 0;
    background: none;
  }
  .header-cart-button span {
    display: none;
  }
}
