.nav .nav-primary .nav-submenu,
.nav .nav-primary button[aria-expanded=true],
.nav .nav-primary button[aria-expanded=true]:hover {
  background-color: #FFF;
}
.nav .nav-primary button[aria-expanded=true] span {
  border-color: #FFF;
}
.nav .nav-primary .nav-submenu li a {
  margin: 0 15px;
}
.nav .nav-primary .nav-submenu li ul {
  padding: 0;
  margin: 0;
}
.nav .nav-primary .nav-submenu li li {
  display: block;
  font-weight: normal;
}

@media screen and (min-width: 951px) {
  .nav .nav-primary .nav-submenu,
  .nav .nav-primary button[aria-expanded=true],
  .nav .nav-primary button[aria-expanded=true]:hover{
    background-color: #245691;
  }
  .nav .nav-primary .nav-submenu {
    left: 16px;
    right: 0;
  }
  .nav .nav-primary .nav-submenu li {
    width: 25%;
    display: inline-block;
    font-weight: bold;
  }
  .nav .nav-primary .nav-submenu li li {
    width: auto;
  }
}
