@import 'variables';

.nav {
  .nav-primary {
    .nav-submenu,
    button[aria-expanded=true],
    button[aria-expanded=true]:hover {
    }
    button[aria-expanded=true] span {
      border-color: $color-white;
    }
    .nav-submenu {
      li {
        ul {
          padding: 0;
          margin: 0;
        }
        li {
          display: block;
          font-weight: normal;
        }
      }
    }
  }
}

@media screen and (min-width: 951px) {
  .nav {
    .nav-primary {
      .nav-submenu,
      button[aria-expanded=true],
      button[aria-expanded=true]:hover{
        background-color: $color-primary-darker;
      }
      .nav-submenu {
        left: 16px;
        right: 16px;
        li {
          width: 25%;
          display: inline-block;
          font-weight: bold;
          vertical-align: top;
          li {
            width: auto;
          }
          a {
            margin: 0 15px;
          }
          li {
            a {
              color: #cee5ef;
            }
          }
        }
      }
      .nav-link-current span {
        border-bottom: 0.7rem solid $color-primary;
        padding-bottom: 1rem;
      }
    }
  }
  .nav-secondary-links {
    a {
      color: $color-white;
    }
  }
}
